
  .headerBackground {
    display: flex;
    justify-content: space-between;
    background-color: rgba(133, 132, 132, 0.54);
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
  }
  .navButtonContainer {
    width: 25%;
  }

